<!DOCTYPE html>

<h2 mat-dialog-title>Search Details</h2>
<mat-dialog-content class="mat-typography">
  <table class="table table-bordered">
    <tr>
      <td>
        <h3>Contact Id:</h3>
      </td>
      <td>
        <h3>{{data[0]}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>First Name:</h3>
      </td>
      <td>
        <h3>{{data[1]}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Last Name:</h3>
      </td>
      <td>
        <h3>{{data[2]}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Nick Name:</h3>
      </td>
      <td>
        <h3>{{data[3]}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>DoB:</h3>
      </td>
      <td>
        <h3>{{data[4]}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>City:</h3>
      </td>
      <td>
        <h3>{{data[5]}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>State:</h3>
      </td>
      <td>
        <h3>{{data[6]}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Country:</h3>
      </td>
      <td>
        <h3>{{data[7]}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>ZIP Code:</h3>
      </td>
      <td>
        <h3>{{data[8]}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Address:</h3>
      </td>
      <td>
        <h3>{{data[9]}}</h3>
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
